$font-family: 'Open Sans', sans-serif !important;
$colorBlue: #091E3F;
$colorWhite:#ffffff;
$colorYellow: #ffc107;
$colorgray: #B2B2B2;
$colorGreen:#3DAE2B;
$colorOrange:#FF9015;
$colorDark-orange:#e16c23;
$colorRed:#dc3545;
$colorligthBlue:#6AC6DE;


